.login-container {
  width: 90%;
  max-width: 320px;
}

md-input {
  width: 100%;
}

.login-button-container {
  text-align: right !important;
  margin-top: 15px;
}



.login-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
